extends layout

block content
  #logo
   a(href="http://iknow.travel")  
    h1= title
   
  #pages
    ul
      li
        a(href="/firstpage") Динамика числа событий
      li
        a(href="/secondpage") Распределение событий
      li
        a(href="/favorits") Избранное
      li
        a(href="/description") Описание метрик

  div#param


