extends layout

block content
  #logo
   a(href="http://iknow.travel")  
    h1= title
   
  #pages
    ul
      li
        a(href="/firstpage", class="hrefs") Динамика числа событий
      li
        a(href="/secondpage", class="hrefs") Распределение событий
      li
        a(href="/favorits", class="hrefs") Избранное
      li
        a(href="/rose") Роза изменений
      li
        a(href="/description", class="hrefs") Описание метрик

  div#param


