body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(../images/city-wallpaper-21.jpg) no-repeat fixed center top;
	
	
	background-size:cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;


}


#logo {
	width:180px;
}
a{
	color:black;
}
a:visited {
	color:black;
}
a:hover {
	color:#e3e3e3;
}
h1 {
  font-size: 30px;
  line-height: 36px;
  width:200px;

  text-decoration:underline;
  
   font-family: 'PFDinTextCompPro-Medium',sans-serif;
}
#pages {
	padding:0px;
	border:0;
	height:auto;
	width:100%;
	min-width:1350px;
	min-height:700px;


	


}
.pages
{
	padding:0px;
	margin:0px;
	border:1px solid #00B7FF;
	
}
#ui-tabs-1
{
    min-height:600px;
	height:auto;
}
#ui-tabas-1 canvas 
{
	max-width: 1000px; 
	min-width:700px;
	min-height:350px;
}
#ui-tabas-2 canvas 
{
	max-width: 1000px; 
	min-width:700px;
	min-height:350px;
}

#ui-tabs-2
{
    min-height:600px;
	height:auto;
}
#ui-tabs-3
{
    min-height:600px;
	height:auto;
}
#ui-tabs-4
{
    min-height:600px;
	height:auto;
}
.removable 
{
	width:1000px;
	 height:400px;
	  margin-top:-100px;
	   margin-left:40%; 
	    min-width:800px; 
	    min-height:350px;
	    border:3px solid white; 
	    width:1000px; 
	    height:380px; 
	     padding-top:10px; 
	     padding-left:10px;
}
.switcher {
	color:white;
	font-size: 10px;
	 height:25px;
	 width:200px;
	 margin-left:100px;
}
.changer {
	color:white;

	height:25px;
	width:200px;
	margin-left:20%;
}
.radio {
	 font-size:10px; 
	 margin-top:-25px; 
	 width:200px; 
	 margin-left:60%;
}
#param {
	margin-top:-70px;
	width:800px;
	 height:70px; 
	  padding-top:30px;
	   padding-left:20px;
	   position:absolute;
	    color:white;
}
#rose {

	width:1200px;
	height:650px;
	margin:0 auto;
	
}
#rose_canvas {
	
}